/* biografia.css */

.username {
    font-size: 3em;
    font-weight: bold;
    color: #100505;
    text-align: left;
}

.description {
    font-size: 1.2em;
    color: #100505;
    text-align: left;
}

.website {
    font-size: 1.2em;
    color: #2a1fd0;
    text-align: left;
}

#imagen_usuario{
    border-radius: 100%;
    width: 40%;
}


img {
    margin-right: 20px; /* Adjust the value to control spacing */
    margin-bottom: 20px; /* Adjust the value to control spacing */
  }

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }